.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 50px;
    background-color: #fafafa;
}

.about-content {
    display: flex;
    gap: 110px;
    max-width: 1800px;
    width: 100%;
    align-items: center;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 30px;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.about-text h2 {
    margin: 0;
    padding: 0;
}

.about-text p {
    text-align: justify;
}

.about-button {
    display: flex;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s, border 0.3s;
    background: black;
    color: white;
    align-self: flex-start;
    justify-content: center;
}

.about-button:hover {
    color: #ff5353;
}

/* Full HD */
@media (max-width: 1920px) {
    .about-content {
        gap: 80px;
        max-width: 1300px;
    }

    .about-button {
        gap: 20px; 
    }
    
    .about-button {
        max-width: 70px;
    }
}

@media (max-width: 1400px) {
    .about {
        padding: 150px 100px;
    }

    .about-content {
        flex-direction: column;
        gap: 30px;
        max-width: 800px;
    }

    .about-image {
        order: 2;
    }

    .about-text {
        order: 1;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        gap: 10px;
    }

    .about-text h2 {
        margin-bottom: -10px;
    }

    .about-text p {
        margin-bottom: 13px;
    }
}

/* Large devices (Small desktops, large tablets, landscape) */
@media (max-width: 1025px) {
    .about {
        padding: 100px 70px;
    }
}

 /* Tablet-specific styles */
@media (max-width: 768px) {
    .about {
        padding: 70px 50px;
    }
}
