/* contact.css */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 1rem;
}

.contact-content {
    display: flex;
    width: 100%;
    max-width: 1500px;
}

.contact-info, .contact-map {
    flex: 1;
    padding: 20px;
}

.contact-map iframe {
    width: 100%;
    width: 800px;
    height: 500px;
    border: 0;
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-row .icon {
    background-color: #ccc;
    border-radius: 50%;
    width: 40px;  /* Ensure the width and height are equal */
    height: 40px; /* Ensure the width and height are equal */
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.info-row .icon img {
    width: 25px;
    height: 25px;
    font-weight: 100;
}

.info-row .icon .phone-icon {
    font-weight: 400;
}

.info-row p {
    margin: 0;
}

.info-row a {
    color: black;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    color: #666;
    font-size: 1.5rem;
    transition: color 0.3s;
    text-decoration: none; /* Remove underlines */
}

.social-icons a:hover {
    color: #ff5353;
}

.contact-map {
    display: flex;
    align-items: center;
    justify-content: center;
}
