/* gallery.css */

.gallery {
    text-align: center;
    padding: 130px 1rem;
}

.gallery h2 {
    margin-bottom: 1rem;
    margin-top: 0px;
}

.gallery p {
    margin-bottom: 40px;
}

/* Adjustments for Swiper */
.swiper-container {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 80%;
    border-radius: 30px;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 50px;
    position: absolute;
}