.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

.navbar .logo img {
    height: 40px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 25px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    border-radius: 4px;
    background-image: linear-gradient(to right, #ff0000, #ff7373);
    color: red;
    -webkit-background-clip: text;
    background-clip: text;
}

.flag-hamburger {
    display: flex;
    align-items: center;
}

.navbar .flag {
    display: flex;
    align-items: center;
    height: 40px;
}

.navbar .flag img {
    height: 20px;
    margin-left: 25px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger img {
    height: 25px;
    margin-right: 25px;
}

@media (max-width: 1020px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        text-align: center;
        margin: 10px 0;
        opacity: 0; /* Initially hidden */
        transform: translateY(20px); /* Slightly shifted down */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    }

    .navbar ul li a {
        padding: 10px 0;
        width: 100%;
        display: block;
    }

    .hamburger {
        display: flex;
        margin-left: 25px;
    }

    .navbar .nav-links.active {
        display: flex;
        transform: translateY(0);
    }

    .navbar .nav-links.active .nav-menu li {
        animation: fadeInUp 0.3s ease forwards;
        animation-delay: calc(0.1s * var(--i));
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    .flag-hamburger {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: auto;
    }

    .hidden {
        display: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
