html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero.png') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Ensures the background is behind the content */
}

/* Text Styles */
h1 {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 400;
}

h2 {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 3rem;
    line-height: normal;
    font-weight: 400;
}

p, td {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: normal; /* Automatic line height */
}

.navbar ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: normal; /* Automatic line height */
}

.hero-button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600; /* Semi-bold */
    line-height: normal; /* Automatic line height */
}

.about-button {
    font-size: 1rem;
}

table {
    width: 80%;
    border-collapse: collapse;
}

p a {
    text-decoration: none;
    transition: color 0.3s;
}

p a:hover {
    color: #ff5353;
}

/* Media Queries for Full HD Desktop Screens */

@media (max-width: 1920px) {
    h1 {
        font-size: 3rem; /* Adjust h1 font size for medium screens */
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.3rem; /* Adjust h2 font size for medium screens */
    }

    p, td {
        font-size: 1rem; /* Adjust paragraph font size for medium screens */
    }

    .navbar ul li a {
        font-size: 0.8rem; /* Adjust navigation link font size for medium screens */
    }

    .hero-button {
        font-size: 0.8rem;
    }

    .about-button {
        font-size: 0.8rem;
    }

    table tr td {
        font-size: 1rem;
    }
}
