html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

/* Hero & navbar section background image */
.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

/* Text Styles */
h1 {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 400;
    max-width: 55%;
    text-align: center;
}

h2 {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 3rem;
    line-height: normal;
    font-weight: 400;
}

p, td {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: normal;
}

.navbar ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: normal;
}

.hero-button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}

.about-button {
    font-size: 1rem;
}

table {
    width: 80%;
    border-collapse: collapse;
}

p a {
    text-decoration: none;
    transition: color 0.3s;
}

p a:hover {
    color: #ff5353;
}

/* Animation */
.about.section,
.testimonials.section {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease-out;
}

.gallery.section,
.contact.section {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.about.section.visible,
.testimonials.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.gallery.section.visible,
.contact.section.visible {
    transform: scale(1);
    opacity: 1;
}

/* Media Queries for Full HD Desktop Screens */
@media (max-width: 1920px) {
    h1 {
        font-size: 3rem; /* Adjust h1 font size for medium screens */
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.3rem; /* Adjust h2 font size for medium screens */
    }

    p, td {
        font-size: 1rem; /* Adjust paragraph font size for medium screens */
    }

    .navbar ul li a {
        font-size: 0.8rem; /* Adjust navigation link font size for medium screens */
    }

    .hero-button {
        font-size: 0.8rem;
    }

    .about-button {
        font-size: 0.8rem;
    }

    table tr td {
        font-size: 1rem;
    }
}
