.testimonials {
    text-align: center;
    padding: 150px 1rem;
    background-color: #fafafa;
}

.testimonials h2 {
    margin-bottom: 40px;
    margin-top: 0px;
}

.testimonials__grid {
    width: 100%;
    max-width: 1900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto 1rem;
}

.testimonials__grid .card {
    padding: 3rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.testimonials__grid .card i {
    font-size: 2.5rem;
    color: #ff5353;
}

.testimonials__grid .card hr {
    width: 40px;
    margin: auto;
    color: var(--text-light);
}

.testimonials__grid .card img {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

.testimonials__grid .card .name {
    color: var(--text-light);
    transition: 0.3s;
}

.testimonials__grid .card .name:hover {
    color: var(--primary-color);
}

@media (width < 900px) {
    .testimonials {
        padding: 100px 1rem;
    }

    .testimonials__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (width < 600px) {
    .testimonials__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  